body {
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.header {
	position: absolute;
   	margin-top: -280px;
	margin-bottom: 100px;
	height: 120px;
	/* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(image.jpg);
	 */background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	color: #fff;
	margin-bottom: 70px;
	font-size: 45px;
	letter-spacing: 2px;
	margin-top: 100px;
}

span {
	color: #f44336;
}

.search-field {
	height: 50px;
	padding: 10px;
}
.skills {
	width: 300px;
	}
	.location {
   width: 200px;
	}
	.search-btn {
		height: 50px;
		width: 150px;
		background: #f44336;
		border: none;
		color: #fff;
	}
	.search-btn:hover {
		
		background: #bb0d00;
		cursor: pointer;
		
		}
.form-box {
	background: rgba(255,255, 255, 0.5);
	padding: 30px 50px;
}
